In [1]:
# Using the csv library to read csv files
import json
import csv
import pandas as pd
import numpy as np

rows = []

with open('all_places_of_worship.csv', 'r+') as f:
    
    csvreader = csv.reader(f)
    header = next(csvreader)
    
    for row in csvreader:
        rows.append(row)

print("Header:" + str(header))
print("First Row: " + str(rows[0]))
print("Number of rows: " + str(len(rows)))

Header:['objectid', 'id', 'name', 'telephone', 'address', 'address2', 'city', 'state', 'zip', 'zipp4', 'county', 'fips', 'directions', 'emergtitle', 'emergtel', 'emergext', 'contdate', 'conthow', 'geodate', 'geohow', 'hsipthemes', 'naicscode', 'naicsdescr', 'geolinkid', 'x', 'y', 'st_vendor', 'st_version', 'geoprec', 'phoneloc', 'qc_qa', 'state_id', 'subtype', 'denom', 'members', 'attendance', 'loc_type', 'prot', 'cath']
First Row: ['1001', '10438385', 'FREMONT PRESBYTERIAN CHURCH', '916-452-7132', '5770 CARLSON DRIVE', 'NOT AVAILABLE', 'SACRAMENTO', 'CA', '95819', '2553', 'SACRAMENTO', '6067', 'NOT AVAILABLE', 'NOT AVAILABLE', 'NOT AVAILABLE', 'N/A', '2007-10-10T00:00:00Z', 'ALT REF', '2007-10-10T00:00:00Z', 'MANUAL', 'HIGH VALUE OR SYMBOLIC TARGETS; PUBLIC VENUES; PUBLIC VENUES; HOUSES OF WORSHIP', '813110', 'CHURCHES', '24458797', '-121.4298846', '38.5679418', 'NAVTEQ', '2006Q4', 'ONENTITY', 'N/A', 'TGS', 'NOT AVAILABLE', 'CHRISTIAN', 'PCUSA', '1292', '800', 'NOT AVAILABLE', 'Y', 'N']
Number of rows: 49328

In [2]:
df = pd.read_csv('all_places_of_worship.csv')

In [3]:
# Displaying the dataframe
df

,objectid,id,name,telephone,address,address2,city,state,zip,zipp4,...,phoneloc,qc_qa,state_id,subtype,denom,members,attendance,loc_type,prot,cath
0,1001,10438385.0,FREMONT PRESBYTERIAN CHURCH,916-452-7132,5770 CARLSON DRIVE,NOT AVAILABLE,SACRAMENTO,CA,95819,2553.0,...,NaN,TGS,NOT AVAILABLE,CHRISTIAN,PCUSA,1292,800,NOT AVAILABLE,Y,N
1,1002,10438397.0,LAFAYETTE - ORINDA PRESBYTERIAN CHURCH,925-283-8722,49 KNOX DRIVE,NOT AVAILABLE,LAFAYETTE,CA,94549,3322.0,...,NaN,TGS,NOT AVAILABLE,CHRISTIAN,PCUSA,1971,775,NOT AVAILABLE,Y,N
2,1003,10438425.0,WALNUT CREEK PRESBYTERIAN CHURCH,925-935-1574,1801 LACASSIE AVENUE,NOT AVAILABLE,WALNUT CREEK,CA,94596,4016.0,...,NaN,TGS,NOT AVAILABLE,CHRISTIAN,PCUSA,1290,914,NOT AVAILABLE,Y,N
3,1004,10431831.0,MUHAJEREEN MOSQUE,510-786-0313,185 FOLSOM AVENUE,NOT AVAILABLE,HAYWARD,CA,94544,6504.0,...,NaN,TGS,NOT AVAILABLE,MUSLIM,NOT AVAILABLE,NOT AVAILABLE,0,NOT AVAILABLE,N,N
4,1005,10438443.0,THE CHURCH OF JESUS CHRIST OF LATTER DAY SAINT...,916-422-6919,7401 24TH STREET,NOT AVAILABLE,SACRAMENTO,CA,95822,5319.0,...,NaN,TGS,NOT AVAILABLE,CHRISTIAN,LDS,NOT AVAILABLE,0,NOT AVAILABLE,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49323,47996,10684814.0,SOUNSA BUDDHIST TEMPLE,508-755-0212,3 CAMP STREET,NOT AVAILABLE,PAXTON,MA,1612,1555.0,...,NaN,TGS,NOT AVAILABLE,BUDDHIST,JODO SHINSHU (PURE LAND),NOT AVAILABLE,0,NOT AVAILABLE,N,N
49324,47997,10589401.0,CENTRAL BAPTIST CHURCH,401-596-4929,14 ELM STREET,NOT AVAILABLE,WESTERLY,RI,2891,2126.0,...,NaN,TGS,NOT AVAILABLE,CHRISTIAN,ABC,NOT AVAILABLE,0,NOT AVAILABLE,Y,N
49325,47998,10589447.0,FIRST UNITED METHODIST CHURCH,401-765-2412,17 FEDERAL STREET,NOT AVAILABLE,WOONSOCKET,RI,2895,3120.0,...,NaN,TGS,NOT AVAILABLE,CHRISTIAN,NOT AVAILABLE,NOT AVAILABLE,0,NOT AVAILABLE,Y,N
49326,47999,10587579.0,WASHINGTON VILLAGE CHURCH,207-845-2447,33 LIBERTY ROAD,NOT AVAILABLE,WASHINGTON,ME,4574,3808.0,...,NaN,TGS,NOT AVAILABLE,CHRISTIAN,ABC,NOT AVAILABLE,0,NOT AVAILABLE,Y,N
49327,48000,10577283.0,THE OPEN DOOR BAPTIST CHURCH,860-535-9138,475 PEQUOT TRAIL,NOT AVAILABLE,STONINGTON,CT,6378,2224.0,...,NaN,TGS,NOT AVAILABLE,CHRISTIAN,BAPT,NOT AVAILABLE,0,NOT AVAILABLE,Y,N

In [4]:
# Automatically infers column names
df.columns

Index(['objectid', 'id', 'name', 'telephone', 'address', 'address2', 'city',
       'state', 'zip', 'zipp4', 'county', 'fips', 'directions', 'emergtitle',
       'emergtel', 'emergext', 'contdate', 'conthow', 'geodate', 'geohow',
       'hsipthemes', 'naicscode', 'naicsdescr', 'geolinkid', 'x', 'y',
       'st_vendor', 'st_version', 'geoprec', 'phoneloc', 'qc_qa', 'state_id',
       'subtype', 'denom', 'members', 'attendance', 'loc_type', 'prot',
       'cath'],
      dtype='object')

In [5]:
# Review date to split it further in next steps
df.geodate

0        2007-10-10T00:00:00Z
1        2007-10-10T00:00:00Z
2        2007-10-10T00:00:00Z
3        2008-10-31T00:00:00Z
4        2007-10-15T00:00:00Z
                 ...
49323    2009-05-26T00:00:00Z
49324    2009-06-01T00:00:00Z
49325    2009-08-04T00:00:00Z
49326    2009-04-17T00:00:00Z
49327    2009-03-09T00:00:00Z
Name: geodate, Length: 49328, dtype: object

In [7]:
#Splitting date into Year, Month and Date

df['Year'] =df['geodate'].str[0:4]
df['Month'] =df['geodate'].str[5:7]
df['Date'] =df['geodate'].str[8:10]

In [8]:
df.Year

0        2007
1        2007
2        2007
3        2008
4        2007
         ...
49323    2009
49324    2009
49325    2009
49326    2009
49327    2009
Name: Year, Length: 49328, dtype: object

In [9]:
df.Month

0        10
1        10
2        10
3        10
4        10
         ..
49323    05
49324    06
49325    08
49326    04
49327    03
Name: Month, Length: 49328, dtype: object

In [10]:
df.Date

0        10
1        10
2        10
3        31
4        15
         ..
49323    26
49324    01
49325    04
49326    17
49327    09
Name: Date, Length: 49328, dtype: object

In [11]:
# Creating a DataFrame object to clean duplicates, Strategy 1
df_duplicate = df
  
# Selecting duplicate rows except last occurrence based on all columns.
duplicate = df_duplicate[df_duplicate.duplicated(keep = 'last')]
  
print("Duplicate Rows :")
  
# Print the resultant Dataframe
duplicate

Duplicate Rows :

Empty DataFrame
Columns: [objectid, id, name, telephone, address, address2, city, state, zip, zipp4, county, fips, directions, emergtitle, emergtel, emergext, contdate, conthow, geodate, geohow, hsipthemes, naicscode, naicsdescr, geolinkid, x, y, st_vendor, st_version, geoprec, phoneloc, qc_qa, state_id, subtype, denom, members, attendance, loc_type, prot, cath, Year, Month, Date]
Index: []

[0 rows x 42 columns]

In [12]:
# Creating a DataFrame object to clean duplicates, Strategy 2
# To clean basis name, address, city & state

df_selective = df_duplicate[['name','address','city','state']]

duplicate = df_selective[df_selective.duplicated(keep = 'last')]
  
print("Duplicate Rows :")
  
# Print the resultant Dataframe
duplicate

Duplicate Rows :

,name,address,city,state
31,THE CHURCH OF JESUS CHRIST OF LATTER DAY SAINT...,1590 DENKINGER ROAD,CONCORD,CA
15118,HOLMAN STREET BAPTIST CHURCH,3501 HOLMAN STREET,HOUSTON,TX
42586,CHURCH OF THE HOLY APOSTLES,1598 LYNNHAVEN PARKWAY,VIRGINIA BEACH,VA

In [13]:
df.isnull()

,objectid,id,name,telephone,address,address2,city,state,zip,zipp4,...,subtype,denom,members,attendance,loc_type,prot,cath,Year,Month,Date
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49323,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
49324,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
49325,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
49326,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
49327,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
df.isna()

,objectid,id,name,telephone,address,address2,city,state,zip,zipp4,...,subtype,denom,members,attendance,loc_type,prot,cath,Year,Month,Date
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49323,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
49324,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
49325,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
49326,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
49327,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
df.isna().sum()

objectid          0
id                3
name              0
telephone       909
address           0
address2          0
city              0
state             0
zip               0
zipp4          5148
county            0
fips              0
directions        0
emergtitle        0
emergtel          0
emergext      49328
contdate          3
conthow           3
geodate           3
geohow            3
hsipthemes        0
naicscode         0
naicsdescr        0
geolinkid        89
x                 0
y                 0
st_vendor         3
st_version        3
geoprec           3
phoneloc      46726
qc_qa             3
state_id          0
subtype           0
denom             0
members           0
attendance        0
loc_type          0
prot              0
cath              0
Year              3
Month             3
Date              3
dtype: int64

In [16]:
df1 = df[df.isna().any(axis=1)]
print (df1)

       objectid          id  \
0          1001  10438385.0
1          1002  10438397.0
2          1003  10438425.0
3          1004  10431831.0
4          1005  10438443.0
...         ...         ...
49323     47996  10684814.0
49324     47997  10589401.0
49325     47998  10589447.0
49326     47999  10587579.0
49327     48000  10577283.0

                                                    name     telephone  \
0                            FREMONT PRESBYTERIAN CHURCH  916-452-7132
1                 LAFAYETTE - ORINDA PRESBYTERIAN CHURCH  925-283-8722
2                       WALNUT CREEK PRESBYTERIAN CHURCH  925-935-1574
3                                      MUHAJEREEN MOSQUE  510-786-0313
4      THE CHURCH OF JESUS CHRIST OF LATTER DAY SAINT...  916-422-6919
...                                                  ...           ...
49323                             SOUNSA BUDDHIST TEMPLE  508-755-0212
49324                             CENTRAL BAPTIST CHURCH  401-596-4929
49325                      FIRST UNITED METHODIST CHURCH  401-765-2412
49326                          WASHINGTON VILLAGE CHURCH  207-845-2447
49327                       THE OPEN DOOR BAPTIST CHURCH  860-535-9138

                    address       address2          city state    zip   zipp4  \
0        5770 CARLSON DRIVE  NOT AVAILABLE    SACRAMENTO    CA  95819  2553.0
1             49 KNOX DRIVE  NOT AVAILABLE     LAFAYETTE    CA  94549  3322.0
2      1801 LACASSIE AVENUE  NOT AVAILABLE  WALNUT CREEK    CA  94596  4016.0
3         185 FOLSOM AVENUE  NOT AVAILABLE       HAYWARD    CA  94544  6504.0
4          7401 24TH STREET  NOT AVAILABLE    SACRAMENTO    CA  95822  5319.0
...                     ...            ...           ...   ...    ...     ...
49323         3 CAMP STREET  NOT AVAILABLE        PAXTON    MA   1612  1555.0
49324         14 ELM STREET  NOT AVAILABLE      WESTERLY    RI   2891  2126.0
49325     17 FEDERAL STREET  NOT AVAILABLE    WOONSOCKET    RI   2895  3120.0
49326       33 LIBERTY ROAD  NOT AVAILABLE    WASHINGTON    ME   4574  3808.0
49327      475 PEQUOT TRAIL  NOT AVAILABLE    STONINGTON    CT   6378  2224.0

       ...    subtype                     denom        members attendance  \
0      ...  CHRISTIAN                     PCUSA           1292        800
1      ...  CHRISTIAN                     PCUSA           1971        775
2      ...  CHRISTIAN                     PCUSA           1290        914
3      ...     MUSLIM             NOT AVAILABLE  NOT AVAILABLE          0
4      ...  CHRISTIAN                       LDS  NOT AVAILABLE          0
...    ...        ...                       ...            ...        ...
49323  ...   BUDDHIST  JODO SHINSHU (PURE LAND)  NOT AVAILABLE          0
49324  ...  CHRISTIAN                       ABC  NOT AVAILABLE          0
49325  ...  CHRISTIAN             NOT AVAILABLE  NOT AVAILABLE          0
49326  ...  CHRISTIAN                       ABC  NOT AVAILABLE          0
49327  ...  CHRISTIAN                      BAPT  NOT AVAILABLE          0

            loc_type  prot cath  Year Month Date
0      NOT AVAILABLE     Y    N  2007    10   10
1      NOT AVAILABLE     Y    N  2007    10   10
2      NOT AVAILABLE     Y    N  2007    10   10
3      NOT AVAILABLE     N    N  2008    10   31
4      NOT AVAILABLE     Y    N  2007    10   15
...              ...   ...  ...   ...   ...  ...
49323  NOT AVAILABLE     N    N  2009    05   26
49324  NOT AVAILABLE     Y    N  2009    06   01
49325  NOT AVAILABLE     Y    N  2009    08   04
49326  NOT AVAILABLE     Y    N  2009    04   17
49327  NOT AVAILABLE     Y    N  2009    03   09

[49328 rows x 42 columns]

In [17]:
#Dropping columns with >10% of Null / Na values

df_duplicate = df_duplicate.drop(columns=['emergext', 'phoneloc'])

In [18]:
df_duplicate

,objectid,id,name,telephone,address,address2,city,state,zip,zipp4,...,subtype,denom,members,attendance,loc_type,prot,cath,Year,Month,Date
0,1001,10438385.0,FREMONT PRESBYTERIAN CHURCH,916-452-7132,5770 CARLSON DRIVE,NOT AVAILABLE,SACRAMENTO,CA,95819,2553.0,...,CHRISTIAN,PCUSA,1292,800,NOT AVAILABLE,Y,N,2007,10,10
1,1002,10438397.0,LAFAYETTE - ORINDA PRESBYTERIAN CHURCH,925-283-8722,49 KNOX DRIVE,NOT AVAILABLE,LAFAYETTE,CA,94549,3322.0,...,CHRISTIAN,PCUSA,1971,775,NOT AVAILABLE,Y,N,2007,10,10
2,1003,10438425.0,WALNUT CREEK PRESBYTERIAN CHURCH,925-935-1574,1801 LACASSIE AVENUE,NOT AVAILABLE,WALNUT CREEK,CA,94596,4016.0,...,CHRISTIAN,PCUSA,1290,914,NOT AVAILABLE,Y,N,2007,10,10
3,1004,10431831.0,MUHAJEREEN MOSQUE,510-786-0313,185 FOLSOM AVENUE,NOT AVAILABLE,HAYWARD,CA,94544,6504.0,...,MUSLIM,NOT AVAILABLE,NOT AVAILABLE,0,NOT AVAILABLE,N,N,2008,10,31
4,1005,10438443.0,THE CHURCH OF JESUS CHRIST OF LATTER DAY SAINT...,916-422-6919,7401 24TH STREET,NOT AVAILABLE,SACRAMENTO,CA,95822,5319.0,...,CHRISTIAN,LDS,NOT AVAILABLE,0,NOT AVAILABLE,Y,N,2007,10,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49323,47996,10684814.0,SOUNSA BUDDHIST TEMPLE,508-755-0212,3 CAMP STREET,NOT AVAILABLE,PAXTON,MA,1612,1555.0,...,BUDDHIST,JODO SHINSHU (PURE LAND),NOT AVAILABLE,0,NOT AVAILABLE,N,N,2009,05,26
49324,47997,10589401.0,CENTRAL BAPTIST CHURCH,401-596-4929,14 ELM STREET,NOT AVAILABLE,WESTERLY,RI,2891,2126.0,...,CHRISTIAN,ABC,NOT AVAILABLE,0,NOT AVAILABLE,Y,N,2009,06,01
49325,47998,10589447.0,FIRST UNITED METHODIST CHURCH,401-765-2412,17 FEDERAL STREET,NOT AVAILABLE,WOONSOCKET,RI,2895,3120.0,...,CHRISTIAN,NOT AVAILABLE,NOT AVAILABLE,0,NOT AVAILABLE,Y,N,2009,08,04
49326,47999,10587579.0,WASHINGTON VILLAGE CHURCH,207-845-2447,33 LIBERTY ROAD,NOT AVAILABLE,WASHINGTON,ME,4574,3808.0,...,CHRISTIAN,ABC,NOT AVAILABLE,0,NOT AVAILABLE,Y,N,2009,04,17
49327,48000,10577283.0,THE OPEN DOOR BAPTIST CHURCH,860-535-9138,475 PEQUOT TRAIL,NOT AVAILABLE,STONINGTON,CT,6378,2224.0,...,CHRISTIAN,BAPT,NOT AVAILABLE,0,NOT AVAILABLE,Y,N,2009,03,09

In [19]:
df_duplicate.isna().sum()

objectid         0
id               3
name             0
telephone      909
address          0
address2         0
city             0
state            0
zip              0
zipp4         5148
county           0
fips             0
directions       0
emergtitle       0
emergtel         0
contdate         3
conthow          3
geodate          3
geohow           3
hsipthemes       0
naicscode        0
naicsdescr       0
geolinkid       89
x                0
y                0
st_vendor        3
st_version       3
geoprec          3
qc_qa            3
state_id         0
subtype          0
denom            0
members          0
attendance       0
loc_type         0
prot             0
cath             0
Year             3
Month            3
Date             3
dtype: int64

In [20]:
df_duplicate.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
49323    False
49324    False
49325    False
49326    False
49327    False
Length: 49328, dtype: bool

In [21]:
df_duplicate.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

,objectid,id,name,telephone,address,address2,city,state,zip,zipp4,...,subtype,denom,members,attendance,loc_type,prot,cath,Year,Month,Date
0,1001,10438385.0,FREMONT PRESBYTERIAN CHURCH,916-452-7132,5770 CARLSON DRIVE,NOT AVAILABLE,SACRAMENTO,CA,95819,2553.0,...,CHRISTIAN,PCUSA,1292,800,NOT AVAILABLE,Y,N,2007,10,10
1,1002,10438397.0,LAFAYETTE - ORINDA PRESBYTERIAN CHURCH,925-283-8722,49 KNOX DRIVE,NOT AVAILABLE,LAFAYETTE,CA,94549,3322.0,...,CHRISTIAN,PCUSA,1971,775,NOT AVAILABLE,Y,N,2007,10,10
2,1003,10438425.0,WALNUT CREEK PRESBYTERIAN CHURCH,925-935-1574,1801 LACASSIE AVENUE,NOT AVAILABLE,WALNUT CREEK,CA,94596,4016.0,...,CHRISTIAN,PCUSA,1290,914,NOT AVAILABLE,Y,N,2007,10,10
3,1004,10431831.0,MUHAJEREEN MOSQUE,510-786-0313,185 FOLSOM AVENUE,NOT AVAILABLE,HAYWARD,CA,94544,6504.0,...,MUSLIM,NOT AVAILABLE,NOT AVAILABLE,0,NOT AVAILABLE,N,N,2008,10,31
4,1005,10438443.0,THE CHURCH OF JESUS CHRIST OF LATTER DAY SAINT...,916-422-6919,7401 24TH STREET,NOT AVAILABLE,SACRAMENTO,CA,95822,5319.0,...,CHRISTIAN,LDS,NOT AVAILABLE,0,NOT AVAILABLE,Y,N,2007,10,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49323,47996,10684814.0,SOUNSA BUDDHIST TEMPLE,508-755-0212,3 CAMP STREET,NOT AVAILABLE,PAXTON,MA,1612,1555.0,...,BUDDHIST,JODO SHINSHU (PURE LAND),NOT AVAILABLE,0,NOT AVAILABLE,N,N,2009,05,26
49324,47997,10589401.0,CENTRAL BAPTIST CHURCH,401-596-4929,14 ELM STREET,NOT AVAILABLE,WESTERLY,RI,2891,2126.0,...,CHRISTIAN,ABC,NOT AVAILABLE,0,NOT AVAILABLE,Y,N,2009,06,01
49325,47998,10589447.0,FIRST UNITED METHODIST CHURCH,401-765-2412,17 FEDERAL STREET,NOT AVAILABLE,WOONSOCKET,RI,2895,3120.0,...,CHRISTIAN,NOT AVAILABLE,NOT AVAILABLE,0,NOT AVAILABLE,Y,N,2009,08,04
49326,47999,10587579.0,WASHINGTON VILLAGE CHURCH,207-845-2447,33 LIBERTY ROAD,NOT AVAILABLE,WASHINGTON,ME,4574,3808.0,...,CHRISTIAN,ABC,NOT AVAILABLE,0,NOT AVAILABLE,Y,N,2009,04,17
49327,48000,10577283.0,THE OPEN DOOR BAPTIST CHURCH,860-535-9138,475 PEQUOT TRAIL,NOT AVAILABLE,STONINGTON,CT,6378,2224.0,...,CHRISTIAN,BAPT,NOT AVAILABLE,0,NOT AVAILABLE,Y,N,2009,03,09

In [22]:
# Removing records with NO 'id', as they were miniscule in numbers
df_duplicate1=df_duplicate.dropna(subset=['id'])

In [26]:
df_duplicate1.isna().sum()

objectid         0
id               0
name             0
telephone      909
address          0
address2         0
city             0
state            0
zip              0
zipp4         5148
county           0
fips             0
directions       0
emergtitle       0
emergtel         0
contdate         0
conthow          0
geodate          0
geohow           0
hsipthemes       0
naicscode        0
naicsdescr       0
geolinkid       86
x                0
y                0
st_vendor        0
st_version       0
geoprec          0
qc_qa            0
state_id         0
subtype          0
denom            0
members          0
attendance       0
loc_type         0
prot             0
cath             0
Year             0
Month            0
Date             0
dtype: int64

In [23]:
# Removing column of 'zipp4' as we already have 5 digit ZIP code and 
# There's no way we can trace/generate 4 digit ZIP basis the same

df_duplicate1 = df_duplicate1.drop(columns=['zipp4'])

In [24]:
df_duplicate1.isna().sum()

objectid        0
id              0
name            0
telephone     909
address         0
address2        0
city            0
state           0
zip             0
county          0
fips            0
directions      0
emergtitle      0
emergtel        0
contdate        0
conthow         0
geodate         0
geohow          0
hsipthemes      0
naicscode       0
naicsdescr      0
geolinkid      86
x               0
y               0
st_vendor       0
st_version      0
geoprec         0
qc_qa           0
state_id        0
subtype         0
denom           0
members         0
attendance      0
loc_type        0
prot            0
cath            0
Year            0
Month           0
Date            0
dtype: int64

In [24]:
# As we can't predict or model telephone number or geolinkid, we recommend maintaining it as N/a